[Desktop Entry]
Type=Application
Name=Microsoft Excel
Comment=Launch Microsoft Excel
Icon=ms-excel
Exec=xdg-open https://office.com/launch/excel
NoDispllay=false
Categories=Office;
StartupNotify=true
Terminal=false
