[Desktop Entry]
Type=Application
Name=Microsoft OneNote
Comment=Launch Microsoft OneNote
Icon=ms-onenote
Exec=xdg-open https://onenote.com
NoDisplay=false
Categories=Office;
StartupNotify=true
Terminal=false
