[Desktop Entry]
Type=Application
Name=Microsoft Powerpoint
Comment=Launch Microsoft Powerpoint
Icon=ms-powerpoint
Exec=xdg-open https://office.com/launch/powerpoint
NoDisplay=false
Categories=Office;
StartupNotify=true
Terminal=false
