[Desktop Entry]
Name=Revolt
Exec=/opt/Revolt/revolt-desktop-bin %U
Terminal=false
Type=Application
Icon=revolt-desktop
StartupWMClass=Revolt
Comment=Revolt desktop app
Categories=Network;
