[Desktop Entry]
Name=Joplin
Exec=/usr/bin/joplin-desktop
Terminal=false
Type=Application
Icon=joplin
StartupWMClass=Joplin
Comment=Joplin for Desktop
Categories=Office;
