[Desktop Entry]
Version=1.5.0
Type=Application
Name=Fluffychat
Icon=fluffychat
Description=Chat with your friends
Exec=/usr/bin/fluffychat
NoDisplay=false
StartupNotify=false
Terminal=false
