---
name: Overlay QA
on:  # yamllint disable-line rule:truthy
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  repoman:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: Woomymy/action-run-repoman@main
      - uses: Woomymy/action-run-pkgcheck@main
